!!!

%html

 %head
  %title "Fatima SSS Lesson Plans"
  %meta{ :author => "Dylan Fitzgerald" }
  %meta{ :email => "dylan@dylanfitzgerald.net" }

 %body
  %a{ :href => "PowerPoint" } "PowerPoint Lesson Plans"
  %a{ :href => "Excel" } "Excel Lesson Plans"